# Environment variables
.env

# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/
*.swp

# Google credentials
credentials.json
service_account.json

# Test coverage
.coverage
htmlcov/


# Mini tests files
test_connection.py
test_groq.py
test_pipeline_etl.py